/* Tags */
body {
    background-color: black;
    color: #48f4eb;
}

h1 {
    font-family: Gloria Hallelujah;
    font-size: 200%;
    text-align: center;
}

/* Class */
.section-header {
    font-family: Gloria Hallelujah;
    font-size: 30px;
}
.hover-white{
    color: #ffffff;
}
.hover-white2{
    color: #ffffff;
}

/* IDs */
#logo {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
}

#character-list h2 {
    font-family: Gloria Hallelujah;  
}

#character-names {
    font-family: Syne Mono;
}

#character-name {
    font-family: Syne Mono;
    font-size: 30px;
}

#character-status {
    font-family: Source Code Pro;
}

#character-origin {
    font-family: Source Code Pro;
}

#comment-input {
    color: black;
    font-family: Michroma;
    font-size: 8px;
    width: 300px;
    height: 50px;
    word-wrap: break-word;
    word-break: break-all;
}

#character-image {
    border: 3px solid #48f4eb;
    border-radius: 20px;
}

#jerry-rating img {
    -webkit-filter: drop-shadow(0px 0px 10px #ababab);
    /* filter: drop-shadow(5px 5px 5px #ffffff); */
    }
#jerry-rating img:hover {
    opacity: 0.5;
}

/* Attributes */
[type="submit"] {
    font-family: Michroma;
}

/* Pseudo Classes */


/* Mike Edits */
