/* Tags */
body {
    /* position: relative; */
    background-color: black;
    color: #48f4eb;
}

h1 {
    font-family: Gloria Hallelujah;
    font-size: 200%;
    text-align: center;
}

h5 {
    cursor: pointer;
}

/* Class */
.section-header {
    font-family: Gloria Hallelujah;
    font-size: 18px;
}

.hover-white{
    color: #ffffff;
}
.hover-white2{
    color: #ffffff;
}

.current-name {
    color: white;
}

/* IDs */
#logo {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
}

#left-side-bar {
    display: inline-block;
    position: relative;
    width: 20%;
    /* margin-right: auto; */
    /* left: 0; */
}

#nav-header {
    /* display: block; */
    text-align: right;
    position: relative:
}

#character-nav {
    /* display: block; */
    /* float: right; */
    text-align: right;
    font-family: Syne Mono;
}


#current-character {
    display: inline-block;
    position: relative;
    width: 75%;
    margin-left: 30px;
    top: 80px;
}

#name-and-image {
    display: inline-block;
    position: relative;
    width: 45%;
    /* float: left; */
    top: 0%;
}

#status-and-origin {
    /* float:right; */
    /* position: relative; */
    text-align: left;
    /* display: inline-block */
}

#comments-section {
    /* display: block; */
    /* float: left; */
    font-family: Syne Mono;
}

#character-name {
    font-family: Syne Mono;
    font-size: 45px;
    margin-top: auto;
    margin-bottom: 10px;
}

#character-status {
    font-family: Source Code Pro;
}

#character-origin {
    font-family: Source Code Pro;
}

#comment-input {
    color: black;
    font-family: Michroma;
    font-size: 8px;
    width: 80%;
    height: 60px;
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    align-items: right;
}

#character-image {
    /* display: block; */
    border: 3px solid #48f4eb;
    border-radius: 20px;
}

#jerry-rating {
    bottom: 0;
    display: inline-flex;
    height: 170px;
    font-size: 20px;
    margin: 10px;
}

#jerry-rating img {
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 10px #ababab);
    /* filter: drop-shadow(5px 5px 5px #ffffff); */
    }
#jerry-rating img:hover {
    opacity: 0.5;
}

#jerry-rating-counter {
    font-family: Gloria Hallelujah;
    color: #48f4eb;
}

/* Attributes */
[type="submit"] {
    font-family: Michroma;
    width: auto;
}